In [156]:
import glob
import json
import yaml

In [157]:
# path = 'output/*.txt'
# files=glob.glob(path)

In [176]:
import sys, json
struct = {}
path = 'output/*.json'
files=glob.glob(path)
dataset = []
for file in files:
    with open(file) as f:
        try: #try parsing to dict
            for line in f:
                dataform = str(line).strip("'<>() ").replace('\'', '\"')
                struct = json.loads(dataform)
                dataset.append(struct)
        except:
            print (repr(resonse_json))
            print (sys.exc_info())

In [177]:
# alt, lon of #32 bus 42.34998902466133,-71.07742577791214

In [178]:
# struct['1']['info'][0].keys()

In [181]:
ids = {}
prev = 0
#_lat, _lon = 42.34998902466133,-71.07742577791214
for k in dataset:
    for item in k:
        for the_trip in k[item]['info']:
            if 'vehicle' in the_trip.keys():
                #lat,lon = the_trip['vehicle']['vehicle_lat'],the_trip['vehicle']['vehicle_lon']
                #loc = abs(lat-_lat)+abs(lon-_lon)
                _id = the_trip['trip_id']
                #ETA
                schedule = int(the_trip['sch_arr_dt'])
                curr = int(the_trip['vehicle']['vehicle_timestamp'])
                time = schedule - curr
                arrive_flag = 0
                if time <30:
                    arrive_flag = 1
                    arrive_time = curr
                if _id not in ids:
                    ids[str(_id)] = [(schedule,time,0)]
                elif (schedule,time,0) not in ids[str(_id)]:
                    ids[str(_id)].append((schedule,time,0))
                if arrive_flag:
                    for (a,b,c) in ids[str(_id)]:
                        c = abs(b-abs(a-arrive_time))

In [180]:
ids

{'34265875': [(1499295900, 2462, 0),
  (1499295900, 604, 0),
  (1499295900, 750, 0),
  (1499295900, 878, 0),
  (1499295900, 810, 0),
  (1499295900, 685, 0),
  (1499295900, 624, 0),
  (1499295900, 818, 0),
  (1499295900, 543, 0),
  (1499295900, 423, 0),
  (1499295900, 303, 0),
  (1499295900, 363, 0),
  (1499295900, 169, 0),
  (1499295900, 49, 0),
  (1499295900, 109, 0),
  (1499295900, 229, 0),
  (1499295900, 2222, 0)],
 '34265884': [(1499295420, 1851, 0),
  (1499295420, 148, 0),
  (1499295420, 107, 0),
  (1499295420, 269, 0),
  (1499295420, 389, 0),
  (1499295420, 329, 0),
  (1499295420, 209, 0),
  (1499295420, 46, 0),
  (1499295420, 1731, 0)],
 '34265905': [(1499294460, 873, 0), (1499294460, 768, 0)],
 '34265924': [(1499293980, 401, 0), (1499293980, 288, 0)],
 '34266068': [(1499297820, 2229, 0),
  (1499297820, 2169, 0),
  (1499297820, 2289, 0),
  (1499297820, 1869, 0),
  (1499297820, 2109, 0),
  (1499297820, 1989, 0),
  (1499297820, 1929, 0),
  (1499297820, 2049, 0)],
 '34266090': [(1499297340, 2088, 0),
  (1499297340, 2028, 0),
  (1499297340, 2208, 0),
  (1499297340, 2328, 0),
  (1499297340, 2268, 0),
  (1499297340, 2148, 0),
  (1499297340, 1875, 0),
  (1499297340, 1741, 0),
  (1499297340, 1968, 0),
  (1499297340, 1908, 0),
  (1499297340, 1754, 0),
  (1499297340, 1814, 0),
  (1499297340, 1409, 0),
  (1499297340, 1620, 0),
  (1499297340, 1501, 0),
  (1499297340, 1469, 0),
  (1499297340, 1561, 0),
  (1499297340, 1681, 0)],
 '34266110': [(1499296860, 1587, 0),
  (1499296860, 1708, 0),
  (1499296860, 1808, 0),
  (1499296860, 1747, 0),
  (1499296860, 1647, 0),
  (1499296860, 1507, 0),
  (1499296860, 1403, 0),
  (1499296860, 1254, 0),
  (1499296860, 1447, 0),
  (1499296860, 1342, 0),
  (1499296860, 1430, 0),
  (1499296860, 1282, 0),
  (1499296860, 921, 0),
  (1499296860, 1133, 0),
  (1499296860, 1037, 0),
  (1499296860, 977, 0),
  (1499296860, 1097, 0),
  (1499296860, 1193, 0)],
 '34266119': [(1499296380, 1081, 0),
  (1499296380, 1239, 0),
  (1499296380, 1347, 0),
  (1499296380, 1299, 0),
  (1499296380, 1179, 0),
  (1499296380, 1119, 0),
  (1499296380, 1046, 0),
  (1499296380, 925, 0),
  (1499296380, 811, 0),
  (1499296380, 985, 0),
  (1499296380, 865, 0),
  (1499296380, 751, 0),
  (1499296380, 441, 0),
  (1499296380, 703, 0),
  (1499296380, 583, 0),
  (1499296380, 501, 0),
  (1499296380, 522, 0),
  (1499296380, 642, 0)]}